@charset "utf-8";
 
body{
    
    margin: 0;
    padding:0;
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}
section{
    width: 100%;
    height: 95vh;
    background-color: rgb(190, 190, 190);
    position: relative;
}

span:hover{
  font-size: 30px;
  color: red;
 
}

.apresentation span:hover{
font-size: 80px;
  color: red;
  
}
.apresentation2 span:hover{
    font-size: 40px;
  color: red;
  

}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    background-color: #FFFFFF;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav a:hover{
    font-size: 20px;
}
nav ul{
    display: flex;
}
nav ul li a{
    margin: 30px;
    font-family: myriad pro regular, sans-serif;
    color: #505050;
    font-size:15px;
    font-weight:700
}
.logo{
    font-family: RoadTest;
    color: #000000;
    font-size: 22px;
}
.active{
    font-weight: bold;
    color: #2d2a2a;
}
.text-container p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:black;
    font-size: 22px;

}

.text-container p:nth-child(2){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#1a1a1a;
    letter-spacing: 1px;
    font-size: 60px;
}

.text-container p:nth-child(3){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:#1a1a1a;
    font-size: 30px;
    line-height: 30px;
}

.text-container p{
    line-height: 0px;
    margin: 45px 0px 25px;
}

.text-container{
    position: absolute;
    left: 13%;
    top: 42%;
    transform: translate(-13%, -42%)
}

.text-container button{
    width: 130px;
    height: 42px;
    border-radius: 10px;
    font-weight:bold;
    font-family: calibri;
    font-size: 14px;
    outline: none;
    border: 2px solid #373636;
    color: #373636;
}
button:active{
    transform: scale(1.1)
}

button{
    cursor: pointer;
}

.about-container{
    width: 80%;
    height: 330px;
    background-color:#FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin: -7% auto 20px auto;
    position: relative;
    justify-content: space-evenly;
    align-items: center;
}

.about-text{
    width: 550px;

}
.about-text p:nth-child(1){
    color:#403e3e;
    font-weight:bold;
    font-size:23px;
    line-height:0px;
}

.about-text p:nth-child(2){
    color: #3e3d3d;
    font-size: 13px;
    font-weight:bold;
    line-height:5px;
}

.about-text p:nth-child(3){
    color: #7e7d7d;
    font-size:16px;
}

.about-text button{
    width:120px;
    height: 40px;
    color: #FFFFFF;
    outline: none;
    border: none;
    background-color:#262525;

}
.services{
    height: 100vh;
    background-color: rgb(190, 190, 190);
}
.header{
    border-radius:3%;
    background-color: #000000;
    height: 10%;
}
.header p{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #FFFFFF;
    font-size: 30px;
    padding: 20px;
    
}

.box-container{
    width: 80%;
    height: 330px;
    background-color:#FFFFFF;
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    top: 10%;
    left: 10%;
}

.Weather{
    width: 150px;
    height: 150px;
    border-radius: 50%
}

.Cristo{
    width: 150px;
    height: 150px;
    border-radius: 50%
}

img:hover{
    transform: scale(1.1)
}
